@font-face { font-family: 'NotoSansSC'; src: url('@/assets/fonts/NotoSansSC-Regular.woff2') format('woff2'); font-display: swap; }

/* Fonts used by the default theme, and bundled within the app */
@font-face {
  font-family: 'Inconsolata';
  src: url('@/assets/fonts/Inconsolata-Light.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/Raleway-Variable.ttf');
}

@font-face {
  font-family: 'PTMono';
  src: url('@/assets/fonts/PTMono-Regular.ttf');
}

html {
  --font-body: 'Raleway', 'PingFang SC', 'Microsoft YaHei', 'NotoSansSC', 'Trebuchet MS', sans-serif;
  --font-headings: 'Inconsolata', 'PingFang SC', 'Microsoft YaHei', 'NotoSansSC', 'Georgia', sans-serif;
  --font-monospace: 'PTMono', 'NotoSansSC', ui-monospace, Menlo, Monaco, Consolas,
    'Courier New', monospace;

  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
	background: transparent;
  vertical-align: baseline;

  /* Default app font face */
  body, div, p, a, span, label, input, button, .text {
    font-family: var(--font-body), 'PingFang SC', 'Microsoft YaHei', 'NotoSansSC', sans-serif;
  }

  /* Headings font face */
  h1, h2, h3, h4, h5, .heading {
    font-family: var(--font-headings), 'PingFang SC', 'Microsoft YaHei', 'NotoSansSC', sans-serif;
  }

  /* Monospace, for code and raw data output */
  code, pre, pre *, .jsoneditor *, .mono * {
    font-weight: normal;
  }
}
